<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login" routerDirection="root" >Regresar</ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Operador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid class="fullheight xc">
  	<ion-row class="marginrow">
        <ion-item>
          <ion-label position="stacked">Ingresa tu clave de operador <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required [(ngModel)]="clave" (keyup.enter)="login()" [type]="hide ? 'password' : 'text'"></ion-input>
          <ion-icon slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide" size="large"></ion-icon>
        </ion-item>
  	</ion-row>
    <ion-row class="marginrow">   
      <div class="ion-padding">
        <ion-button expand="block" (click)="login()" class="ion-no-margin">Entrar</ion-button>
      </div>
    </ion-row> 
  </ion-grid>
</ion-content>
