<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      APP OPERATIVA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-grid class="fullheight xc">
   <ion-row class="marginrow">
      <ion-col style="text-align: center">
        <ion-icon size="large" name="person-circle"></ion-icon>
      </ion-col>
      <ion-col style="text-align: left">
        <ion-button color="light" routerLink="/empleado" routerDirection="forward" expand="block" > EMPLEADO</ion-button>
      </ion-col>
    </ion-row>  
    <ion-row class="marginrow">
      <ion-col style="text-align: center">
        <ion-icon size="large" name="bus"></ion-icon>
      </ion-col>
      <ion-col style="text-align: left">
        <ion-button color="light" routerLink="/chofer" routerDirection="forward" expand="block" >OPERADOR</ion-button>
      </ion-col>
    </ion-row>   
  </ion-grid>
</ion-content>
