ion-row {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-col {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-grid {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-img{
  object-fit:cover;
}