#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.botoninicio {
  width: 250px;
  font-weight: bold;
  background: #0f9436;
}

.marginrow{
  margin-bottom: 15px;
}

ion-content.background {
    --background: url("../../assets/fondo_app.jpg") 0 0/100% 100% no-repeat;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullheight{
  height: 100%;
    flex-direction: column;
}
